body {
    background-image: url('./assets/images/hero.png');

}
header {
    background-color: black;
    text-align: right;
    color: aliceblue;
}
.headernav {
    background-color: black;
}
.topnav {
    text-align: justify;
}